/*

# tracked
!/.gitignore
!/.zshrc
!/default.pa.custom
!/alacritty
!/gtk-3.0
!/i3
!/pcmanfm
!/picom
!/pics
!/rofi

# polybar
!/polybar/config.ini
!/polybar/launch.sh
!/polybar/modules/*
!/polybar/fonts/*

# xrandr-scripts
!/double.sh
!/single.sh
!/csgo.sh
